/* All Page Styles*/


#svgwrapper {
  display:inline-block;
  width:400px;
  height:200px;
  stroke: rgb(24, 24, 24);
  fill: none;
  position: relative;
}

.logo-path {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: calc(20% + 20px);
    stroke-dasharray: 1943;
    stroke-dashoffset: 1943;
}

.text { 
    
    stroke-width: 10;
    animation: letter-animation 4s linear forwards;
}

@keyframes letter-animation {
    0% {
        stroke-dashoffset: 1943;
    }
    100% {
        stroke-dashoffset: 0;
    }
}




.animate {
 stroke-dasharray: 300;
 stroke-dashoffset: 300;
 animation: dash 5s linear forwards;
}
@keyframes dash {
to {
 stroke-dashoffset: 0;
 }
}






*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:cursive;
    background-color: #ffffff;
}

body {
    height: 712px;
    width: 1440px;
}

section {
    height: 712px;
    width: 1440px;
    padding-top: 20%;
}

.padLeft {
    height: 712px;
    width: 1440px;
    padding-top: 22%;
    padding-left: 25%;
}

h3 {
    color: #776565;
    font-size: 48px;
    font-weight: 100;
    line-height: 57px;
    font-family: "Lucida Handwriting", "Segoe Script", cursive;
}

h1 {
  font-family: "Lucida Handwriting", "Segoe Script", cursive;
}

a {
    text-decoration: none;
    color: rgb(92, 134, 138);
}

h5 {
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 30px;
}

#fadeIn {
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#letterOne {
    animation-name: waveMotion;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterTwo {
    animation-name: waveMotion;
    animation-delay: 200ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterThree {
    animation-name: waveMotion;
    animation-delay: 400ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterFour {
    animation-name: waveMotion;
    animation-delay: 600ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterFive {
    animation-name: waveMotion;
    animation-delay: 800ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterSix {
    animation-name: waveMotion;
    animation-delay: 1000ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterSeven {
    animation-name: waveMotion;
    animation-delay: 1200ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

#letterEight {
    animation-name: waveMotion;
    animation-delay: 1400ms;
    animation-direction: forwards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes waveMotion {
    0% {
        top: 320px;
    }
    50% {
        top: 310px;
    }
    100% {
        top: 320px;
    }
}

/* Page 10 Animations (SEE PAGE 7)*/

body {
  font-family: cursive;
  margin: 50px;
  font-weight:bolder;
  font-size:xx-large;
  text-align: center;
}

h1 {
  animation: move 1s;
  -webkit-animation: move 1s;
}

@keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
            
@-webkit-keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

a {
    color: inherit;
    text-decoration: none;
}




